<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Verified</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-8 bg-zinc-900 text-white text-center">
        <i class="fa-solid fa-check bg-green-600 px-3 pt-2.5 pb-2 text-3xl rounded-full"></i>
        <h1 class="text-2xl font-bold mt-2">You have been verified</h1>
    </body>
</html>
